@import "tailwindcss";

/* Apply the Inter font globally */
:root {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
}


.heading {
  font-family: var(--font-merriweather);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-select {
  appearance: none; /* Hides the default arrow */
  -webkit-appearance: none; /* Hides the default arrow in Safari */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center; /* Adjust the position of the arrow */
  background-size: 1rem; /* Adjust the size of the arrow */
  padding-right: 2rem; /* Adds padding to the right for the arrow */
}
